<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Table Test</title>
    <caption style="text-align:center">
            Table 1
    </caption>
    <table border="1">
            <tr style="text-align:center">
                    <th style="text-align:center">First Name</th>
                    <th>Last Name</th>
                    <th>Point</th>
            </tr>
            <tr>
                    <td style="text-align: center">Jill</td>
                    <td style="text-align: center">Smith</td>
                    <td style="text-align: center">50</td>
            </tr>
            <tr>
                <td style="text-align: center">Eve</td>
                <td style="text-align: center">Jackson</td>
                <td style="text-align: center">94</td>
            </tr>
    </table>
    
</head>
<body>
    
</body>
</html>