<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>form test</form></title>
</head>
<body>
    <form>
        UserName: <input type="text" name="user_name"><br>
        Password: <input type="password" name="pass_word">
    </form>
    <br>

    <form>
        <input type="radio" name="sex" value="male">Male<br>
        <input type="radio" name="sex" value="female">female<br>
    </form>
    <br>

    <form>
        <input type="checkbox" name="vehicle" value="bike">I have a bike<br>
        <input type="checkbox" name="vehicle" value="car">I have a car<br>
    </form>
    <br>

    <form name="input" action="html_form_action.html" method="GET">
        Username: <input type="text" name="user">
        <input type="submit" value="提交">
    </form>
    <br>


    <form action="">
        <select name="KeyType">
                <option vaule="zmk">ZMK</option>
                <option value="zpk">ZPK</option>
                <option value="zek" selected>ZEK</option>
                <option value="zpk">ZPK</option>
        </select>
    </form>
    <br>

    <textarea rows="10" cols="20">我是一个文本框</textarea>
    <br>
    <form action="">
            <input type="button" value="hello world">
    </form>
    

</body>
</html>