<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>div test</title>
    <div id="container" style="width: 800px">
        <div id="header" style="background-color:#FFA500;">
            <h1  style="margin-bottom:0;">Main tile of web Page</h1>
        </div>
        <div id="Menu" style="background-color: #FFD700;height:200px;width: 100px;float: left;">
            <b>Menu</b><br>
            HTML<br>
            CSS<br>
            JavaScript
        </div>
        <div id="content" style="background-color: #EEEEEE;height: 200px;width: 700px;float: left;">
            Content goes here
        </div>
        <div id="footer" style="background-color: #FFA500;clear: both;text-align: center">
                Copyright © w3cschool.cn</div>
        </div>



    </div>
</head>
<body>
    
</body>
</html>